{% extends "base-shell.html" %}
{% load static sekizai_tags %}

{% block addblocks %}
{{ block.super }}
{% addtoblock "css" %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'registration/css/account-header.css' %}">
{% endaddtoblock %}

{% addtoblock "js-foot" %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
{% endaddtoblock %}
{% endblock %}

{% block body %}
{% block navbar %}
<nav class="navbar navbar-light bg-faded">
  {% block navbar_items %}
  <ul class="nav navbar-nav">
    {% block navbar_page_items %}{% include "includes/page-navitems.html" %}{% endblock %}
  {% endblock navbar_items %}
  {% include "registration/includes/navlinks.html" %}
  </ul>
</nav>
{% endblock navbar %}
{% block main %}{% endblock %}
{% endblock body %}
