{% extends "base-shell.html" %}
{% load assettag_sheet sekizai_tags %}

{% block addblocks %}
{{ block.super }}
{% addtoblock "css" %}
<style>
  .tag-page{
    width: {{ print_box.w }}px;
    height: {{ print_box.h }}px;
    padding-left: {{ print_box.x }}px;
    padding-top: {{ print_box.y }}px;
  }
  .tag-table {
    border-collapse: collapse;
    /*border-style: solid;*/
    border-width: 0px;
    text-align: center;
  }
  .tag-table td {
    padding-top: {{ padding.top }}px;
    padding-bottom: {{ padding.bottom }}px;
    padding-left: {{ padding.left }}px;
    padding-right: {{ padding.right }}px;
  }
  .tag-table tr:first-child td{padding-top: 0px;}
  .tag-table tr:last-child td{padding-bottom: 0px;}
  .tag-table td:first-child{padding-left: 0px;}
  .tag-table td:last-child{padding-right: 0px;}
  .tag-img-placeholder{
    width: {{ tag_template.width }}px;
    height: {{ tag_template.height }}px;
    border-style: solid;
    border-width: 1px;
  }
</style>
{% if use_pdf %}
<style>
  {% include 'assettags/includes/pdf-page-css.html' %}
</style>
{% endif %}
{% if use_png %}
<style>
  {% include 'assettags/includes/png-image-css.html' %}
</style>
{% endif %}
{% endaddtoblock %}
{% endblock %}

{% block body %}
{% for page, row, col, tag in cell_iter %}
{% ifchanged page %}{% assettag_new_page %}{% endifchanged %}
  {% ifchanged row %}{% assettag_new_row %}{% endifchanged %}
    <td>
    {% if tag %}
      {% if use_png %}
        {% include 'assettags/includes/png-image.html' %}
      {% else %}
        {{ tag.qr_svg_bytes|safe }}
      {% endif %}
    {% else %}
      <div class="tag-img-placeholder"></div>
    {% endif %}
    </td>
{% if forloop.last %}{% assettag_endfor %}{% endif %}
{% endfor %}
{% endblock %}
