{% extends "base.html" %}
{% load static sekizai_tags %}

{% block addblocks %}
{{ block.super }}
{% addtoblock "js-foot" %}
<script type="text/javascript">
  $(function(){
    $("form select,textarea,input:not([type=checkbox])").addClass('form-control');
  });
</script>
{% endaddtoblock %}
{% endblock %}


{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="card col-md-4">
      <div class="card-block">
        <h4 class="card-title">Select Options</h4>
      </div>
      <form id="print-form" method="post">
      {% for field in form %}
        {% if field.name == 'reprint_unassigned' or field.name == 'pdf_preview' %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}"{% if field.value %} checked{% endif %}> {{ field.label }}
            </label>
          </div>
        {% else %}
          <fieldset class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </fieldset>
        {% endif %}
      {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
