{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'assettags/css/qrscan.css' %}">
</head>
<body>
  <div data-resulturl="{% url 'assettags:assettag_lookup' tag_code='REPLACEME' %}" class="qrscanner"></div>
  <button type="button" id="stop-btn">Stop</button>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{% static 'assettags/js/html5-qrcode/lib/jsqrcode-combined.min.js' %}"></script>
  <script src="{% static 'assettags/js/html5-qrcode/lib/html5-qrcode.min.js' %}"></script>
  <script src="{% static 'assettags/js/qrscan.js' %}"></script>
</body>
</html>
