{% if user.is_authenticated %}
<li class="nav-item dropdown pull-xs-right">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
  <div class="dropdown-menu dropdown-menu-right">
    {% if user.is_staff %}
    <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Site</a>
    {% endif %}
    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
  </div>
</div>
{% else %}
<li class="nav-item pull-xs-right">
  <a href="{% url 'account_login' %}">Login</a>
</li>
{% endif %}
