{% extends "base.html" %}
{% load static sekizai_tags %}

{% block addblocks %}
{{ block.super }}
{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'mdl-selectfield/mdl-selectfield.min.css' %}">
{% endaddtoblock %}

{% addtoblock "js-foot" %}
<script src="{% static 'mdl-selectfield/mdl-selectfield.min.js' %}"></script>
{% endaddtoblock %}
{% endblock %}

{% block main %}
<div class="mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
    <div class="mdl-card__supporting-text">
      <h3>{{ asset.asset_instance.asset_model }}</h3>
      {% if asset_form %}
      <form class="asset-detail-form">
      {% for field in asset_form %}
        {{ field }}
      {% endfor %}
      </form>
      {% endif %}
    </div>
  </div>
  {% with asset_tag=asset.asset_tag %}
  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__supporting-text">
      <h3>Asset Tag</h3>
      {% if asset_tag %}
      <img src="{% url 'assettags:assettag_image_file' pk=asset_tag.id %}">
      {% else %}
      <p>(Not assigned)</p>
      {% endif %}
    </div>
    {% if not asset_tag %}
    <div class="mdl-card__actions mdl-card--border">
      <a href="{% url 'assettags:asset_tag_assign' content_type_id=asset.content_type.id object_id=asset.id %}"
         class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Assign
      </a>
    </div>
    {% endif %}
  </div>
  {% endwith %}
</div>
{% endblock %}
