{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="card card-block col-md-4">
      {% if form.errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
      <form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <fieldset class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="username">
        </fieldset>
        <fieldset class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="password">
        </fieldset>
        <input type="hidden" name="next" value="{{ next|default:'/' }}">
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
