{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'object_history/css/object_history.css' %}">
</head>
<body>
<div class="object_history">
  <div class="object_update_view">
    {% block object_form %}
    <form class="object_update_form">
    {% for field, is_changed in object_form.iter_with_changes %}
      {% include "object_history/includes/formfield.html" %}
    {% endfor %}
    </form>
    {% endblock %}
  </div>
  <div class="object_history_panel">
    {% block object_history_list %}
    <ul class="object_history_list">
    {% for obj_update in object_history_queryset %}
    {% url 'object_history:object_history' pk=obj_update.pk as update_url %}
      <li class="object_history_list_item{% if request.path == update_url %} object_history_list_item_active{% endif %}">
        <span><a href="{{ update_url }}">
          {% include "object_history/includes/object_update.html" with object_update=obj_update %}
        </a></span>
      </li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
</div>
</body>
</html>
