{% extends "base.html" %}
{% load static sekizai_tags form_relationfield %}

{% block addblocks %}
{{ block.super }}
{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'object_history/css/object_history.css' %}">
{% endaddtoblock %}
{% endblock %}

{% block main %}
<div class="container">
  <div class="object_history row">
    <div class="object_update_view col-md-8">
      {% block object_form %}
      <form class="object_update_form">
      {% for field, is_changed in object_form.iter_with_changes %}
        {% related_obj_data object_form field as obj_data %}
        {% include "object_history/includes/formfield.html" %}
      {% endfor %}
      </form>
      {% endblock %}
    </div>
    <div class="object_history_panel col-md-4">
      {% block object_history_list %}
      <div class="object_history_list list-group">
      {% for obj_update in object_history_queryset %}
        {% include "object_history/includes/object_update.html" with object_update=obj_update %}
      {% endfor %}
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
