<ul class="category-item-list">
{% for category_item in category_items %}
  <li><a href="#"
    data-category-item-id="{{ category_item.id }}"
    data-content-object-key="{{ category_item.content_type.id }}-{{ category_item.object_id }}"
    data-category-id="{{ category_item.category.id }}"
    data-category-name="{{ category_item.category.name }}">{{ category_item.content_object }}</a></li>
{% endfor %}
</ul>
<ul class="category-list">
{% for category in categories %}
  <li><a href="#"
    data-category-id="{{ category.id }}"
    data-category-name="{{ category.name }}">{{ category }}</a></li>
{% endfor %}
</ul>
