<div class="card card-block">
  <h4 class="card-title">Filters</h4>
  <div class="asset-list-filter card card-block">
    <h5 class="card-title">Categories</h5>
    <div class="asset-category-filter list-group"
        data-href="{% url 'categories:list_for_objects' %}">
      <a href="#" class="list-group-item active list-filter-all" id="asset-categories-all">ALL</a>
    </div>
  </div>
  <div class="asset-list-filter card card-block">
    <h5 class="card-title">Manufacturer</h5>
    <div class="asset-manufacturer-filter list-group">
    {% for manuf in manufacturers %}
      <a href="#" class="list-group-item" id="asset-manufacturers-{{ manuf.id }}"
        data-object-id="{{ manuf.id }}">{{ manuf }}</a>
    {% endfor %}
      <a href="#" class="list-group-item active" id="asset-manufacturers-all"
        data-object-id="ALL">ALL</a>
    </div>
  </div>
  <div class="asset-list-filter card card-block">
    <h5 class="card-title">Status</h5>
    <div class="asset-status-filter list-group">
      <a href="#" data-fieldname="in_use" class="list-group-item" id="status-filter-inuse">In Use</a>
      <a href="#" data-fieldname="retired" class="list-group-item" id="status-filter-retired">Retired</a>
    </div>
  </div>
</div>
<div class="category-data" style="display:none;"></div>
